html{
    background: url(images/boat1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: auto 0;
    font-family: 'Alegreya', serif;
    color:#343434;
    
}
#titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#centerTitle {
    font-size: 50px;
}