html{
    background: url(images/boat1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: auto 0;
    font-family: 'Alegreya', serif;
    color:#343434;
    
}
section {
    width: 100%;
    height:1000px;
    float: left;
}
#titleContainer, #contentContainer, #aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#content{
    background: url(images/bnwunderpass.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#about{
    background: url(images/basketballbnw.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.centerText{
    font-size: 50px;
}
.mouseInNavBar{
    color: red;
}
.mouseOutNavBar{
    color: blue;
}